<div class="search">
  <!--<img src="../../../assets/icons/ic_search_24px.svg" class="icon-drp">-->
  <div class="item-flex">
    <img src="../../../assets/icons/ic_flight_takeoff_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="Skąd?">
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_flight_land_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="Dokąd?">
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_date_range_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03">
  </div>
  <app-dropdown></app-dropdown>
  <app-btn-primary></app-btn-primary>
</div>


