<div class="search">
  <div class="item-flex">
    <img src="../../../assets/icons/ic_flight_takeoff_24px.png">
    Skąd?
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_flight_land_24px.png">
    Dokąd?
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_today_24px.png">
    datepicker
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_group_24px.png">
    persons, class
    <img src="../../../assets/icons/ic_keyboard_arrow_down_24px.png">
  </div>
</div>
<div class="button-circle">
  <span>Wyszukaj</span>
</div>
