<div class="search-header">
  <div class="header-text" (click)="checkOneWay()" [ngClass]="{'checked': isOneWay}">W jedną stronę</div>
  <div class="header-text" (click)="checkTwoWays()" [ngClass]="{'checked': isTwoWays}">W dwie strony</div>
  <div class="header-text" (click)="checkMultiCity()" [ngClass]="{'checked': isMultiCity}">Multi-city</div>
</div>

<div class="search">
  <div class="search-container">
  <div class="item-flex">
    <img src="../../../assets/icons/ic_flight_takeoff_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="Skąd?">
  </div>
  <div class="item-flex" *ngIf="!isOneWay && (isTwoWays || isMultiCity)">
    <img src="../../../assets/icons/ic_flight_land_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="Dokąd?">
  </div>
  <div class="item-flex">
    <img src="../../../assets/icons/ic_date_range_24px.svg" class="icon-drp">
    <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03">
  </div>
  <app-dropdown></app-dropdown>
    <app-btn-primary [btnText]="'Wyszukaj'"></app-btn-primary>
  </div>

  <div class="multi-city-container" *ngIf="isMultiCity">
    <div class="item-flex">
      <img src="../../../assets/icons/ic_flight_takeoff_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Skąd?">
    </div>
    <div class="item-flex" *ngIf="!isOneWay && (isTwoWays || isMultiCity)">
      <img src="../../../assets/icons/ic_flight_land_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Dokąd?">
    </div>
    <div class="item-flex">
      <img src="../../../assets/icons/ic_date_range_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03">
    </div>
    <app-dropdown></app-dropdown>
  </div>

  <div class="multi-city-container" *ngIf="isMultiCity">
    <div class="item-flex">
      <img src="../../../assets/icons/ic_flight_takeoff_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Skąd?">
    </div>
    <div class="item-flex" *ngIf="!isOneWay && (isTwoWays || isMultiCity)">
      <img src="../../../assets/icons/ic_flight_land_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="Dokąd?">
    </div>
    <div class="item-flex">
      <img src="../../../assets/icons/ic_date_range_24px.svg" class="icon-drp">
      <input class="item-flex" placeholder="pon. 25.03 - pon. 25.03">
    </div>
    <app-dropdown></app-dropdown>
  </div>

</div>


