@import "../components-styles/item-flex";
@import "../components-styles/icon-drp";

:host {
  display: flex;

  .drp-wrapper {
    position: relative;


    .item-flex {
      padding: 0;
    }

    .drp-input {
      cursor: pointer;
    }

    .drp-list {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      span {
        cursor: pointer;
      }
    }
  }

}

