<app-nav-bar></app-nav-bar>
<div class="logo">
  <a routerLink="/loty"><img src="../../../assets/img/flights-logo-white.png"></a>
</div>
<div class="header">
  Wyruszaj w świat!
</div>
<app-modal></app-modal>
<app-search></app-search>
<app-checkbox></app-checkbox>
<app-recommendations [city]="'Popularne miasta'"></app-recommendations>
<app-recommendations [country]="'Popularne kraje'"></app-recommendations>
<app-recommendations [inspiration]="'Inspiracje podróżnicze'"></app-recommendations>
<app-btn-secondary [buttonSecondaryText]="'Więcej informacji'"></app-btn-secondary>
<app-reviews></app-reviews>
<app-footer></app-footer>
