<div class="recommendation-title">
  <span>{{city}}</span>
  <span>{{country}}</span>
  <span>{{inspiration}}</span>
  <div class="line"></div>
</div>

<div class="row">
  <div class="row-square col-md-4">

    <div class="row-square__description">
      <span>Nowy Jork</span>
      <div class="line"></div>
      <span>Sprawdź ceny</span>
    </div>

    <img src="../../../assets/img/chelsea-london-phillips-779135-unsplash.png"/>
  </div>
  <div class="row-square col-md-4">

    <div class="row-square__description">
      <span>Barcelona</span>
      <div class="line"></div>
      <span>Sprawdź ceny</span>
    </div>

    <img src="../../../assets/img/danil-sorokin-455017-unsplash.png"/>
  </div>
  <div class="row-square col-md-4">

    <div class="row-square__description">
      <span>Sydney</span>
      <div class="line"></div>
      <span>Sprawdź ceny</span>
    </div>

    <img src="../../../assets/img/tyler-duston-690171-unsplash.png"/>
  </div>
</div>
