:host {
  display: flex;
  padding: 0 140px;
  margin-top: 24px;

  .row {
    display: inherit;
    flex-direction: row;
    max-height: 400px;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
    }

    .row-square {
      cursor: pointer;

    }

    img {
      width: 415px;
    }

    img:hover .overlay {
      opacity: 1;
    }
  }
}
