:host {
  display: flex;
  position: relative;
  padding: 0 140px;

  .search-header {
    display: inherit;
    flex-direction: row;

    .header-text {
      color: #D4D4CE;
      margin-right: 24px;
      cursor: pointer;

      &--checked {
        font-weight: bold;
      }
    }
  }
}
