<div class="nav-bar">
  <a routerLink=""><img src="../../../assets/img/flights-logo-white.png"></a>
  <div class="nav-bar__tabs-wrapper">
    <div class="nav-bar__tab">
      <a routerLink=""><span>Loty</span></a>
    </div>
    <div class="nav-bar__tab">
      <a routerLink="/hotele"><span>Hotele</span></a>
    </div>
    <div class="nav-bar__tab">
      <a routerLink="/samochody"><span>Samochody</span></a>
    </div>
    <div class="nav-bar__tab">
      <a routerLink="/discover"><span>Odkrywaj</span></a>
    </div>
    <div class="nav-bar__tab">
      <span>Zaloguj się</span>
    </div>
  </div>
</div>
